@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

/* 상단 메뉴 영역 */

.section{
    width: 340px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    padding: 30px;
}

/* 프로필 영역 */

/* 연락처 목록 */